body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow:hidden;
    

    
}

form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
    
    line-height: 2rem;
}


form div{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

input[type="button"]{
    font-size: 1.5rem;
}


#studentenListe{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 900px;
    height:700px;
    align-content: flex-start;
    flex-direction: row;

    overflow-y: scroll;
}

.student{
    width: auto;
    height: auto;
    padding: 1em;
    margin: 1em;
    border: rgb(0, 0, 0);
    border-radius: 0.5rem;
    border-style: solid;
    display: inline-block;
}