



:root{
    --meinBlau:rgb(12, 186, 255);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(media/bg.png);
    background-attachment: fixed;
    
    
    
    overflow:scroll;
    top: 0;
    margin: 0;
    position:relative;
}

a{
    color:rgb(0, 0, 0);
    cursor: pointer;
}
a:hover,a:focus{
    color: var(--meinBlau);
}
a:active{
    color: rgb(115, 215, 255);
}




header {
    position: relative;
    top: 0;
    display: inline-block;
    width: auto;
    margin: 0 50%;
    translate: -50%;
    padding: 1em;
    
    
    
}

main{
    width: 800px;
    margin: auto;
    
}

main h3{
    margin-top: 0.7em;
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.3em;
    font-size: 1.5em;
    color: white;
    background: black;
}

h1{
    display: block;
    
    color: white;
    font-size: 500%;
    background-color: black;
    width: auto;
    display: block;
    margin:0.5em auto ;
    padding: 50px 100px;
    padding-left: 50px;
    box-shadow:15px 15px  var(--meinBlau);
}

.nav {
    display: flex;
    
    float: right;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    
    
    
}


.nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
    margin: 0;
    background-color: black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.89);
    
}

.nav li{
    display:inline-block;
    
}
.nav a{
    font-size: 2em;
    display:block;
    padding: 8px ;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color:var(--meinBlau);
    display: block;
}

#sie_sind_hier {
    text-decoration-line: underline;
    color: white;
}
.hidden{
    visibility: hidden;
}

section{
    background-color: rgb(255, 255, 255);
    margin-bottom: 2em;
    padding: 1em 1em;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.836);
}

h2{
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#weiß_auf_schwarz_überschrift{
    color: rgb(0, 0, 0);
    text-shadow: 6px 6px var(--meinBlau);
    margin-right: 0;
    width: auto;
    display: block;
}

.profilbild{
    margin-top: 0.5em;
    display: block;
    position: relative;
    top:1em;
    margin-bottom: 1em;
    
}


.container{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.container p{
    padding-left: 1em;
}


.steckbrief{
    margin: 0px;
    padding: 0;
}

.steckbrief li{
    list-style-type: none;
    padding:0;
    
}

.bewertung {
    display: block;
    padding: 2em;
    background-color: rgb(39, 39, 39);
    color:white;
}

.kundenstimme_weniger_margin_cyan{
    margin-top: 0;
    color: var(--meinBlau);
}

address{
    display: block;
    width: 180px;
    background-color: gray;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    float: right;
    padding: 0.5rem;
}

footer{
    
    background-color: black;
    
}

footer a, footer p{
    color: white;
    text-decoration: none;
    
    margin-bottom: 0;
    margin-top: 0.5em;
    
}

footer a{
    font-size: 2em;
}

footer p{
    font-size:1em;
}

footer a:hover{
    color:var(--meinBlau);
    text-shadow: none;
}

.wrapper{
    width:800px;
    padding:0 1em ;
    margin: 0 auto; 
}

