
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(media/bg.png);
    background-attachment: fixed;
    overflow:scroll;
    top: 0;
    margin: 0;
    
}
main{
    width: 800px;
    margin: auto;
    line-height: 1.5rem;
}
h1{
display: block;

color: white;
font-size: 5.5em;
background-color: black;
width: auto;
display: block;
margin:0.5em auto ;
padding:1rem;
min-width: 3.8em;
max-width: 5em;

box-shadow:15px 15px  cyan;
}

.nav {
  display: flex;

  float: right;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
 
        
       
}


.nav ul{
    flex-wrap: wrap;
    padding: 0; 
    margin: 0;
    background-color: black;
    
    
}

.nav li{
        display:inline-block;
    
}
.nav a{
    font-size: 2em;
    display:block;
    padding: 8px ;
    color: white;
    text-decoration: none;
}

.nav a:hover {
color: cyan;
display: block;
}

#sie_sind_hier {
    text-decoration-line: underline;
    color: white;
}
.hidden{
    visibility: hidden;
}

section{
    background-color: grey;
    margin-bottom: 2em;
}

h2{
    font-size: 3em;
    margin-top: 1em;
}

#weiß_auf_schwarz_überschrift{
    color: white;
    text-shadow: 12px 12px rgb(26, 26, 26);
}