
/*Hineweise:
   Verschiedene komplexe selectoren verdendet auf dieser Webiste (zum beispiel) :

   -> #navbar a
   -> #hamburg:checked + .ausklappnav a:active
   -> .kontakt_links *
   -> article p::first-letter
   -> main a:hover
   -> input[type=text]
   -> input[type=text] , select 
   -> blockquote > a

   hoffe das erleichtert einiges bei >500 zeilen CSS :)

*/










:root {
    --meinBlau: rgb(12, 186, 255);
    --gradient: linear-gradient(45deg, #2af585, #22e483, #1bd7bb, #14c9cb, #0fbad8, #077ae5);
    --hellergradient: linear-gradient(45deg, #22cf70, #27bb71, #1bb19a, #159ea0, #1698af, #1d68af);
}

header {
    grid-area: header;
    margin-top: 60px;
}

main {
    grid-area: body;
}

h3 {
    margin-top: 0.7em;
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.3em;
    margin-bottom: 1em;
    font-size: 1.8em;
    color: white;
    background: rgb(43, 43, 43);
}


article p::first-letter{
    background-image: var(--gradient);
   /* background-clip: text;*/
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0);
    font-size: 2em;
}


nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    z-index: 2;
    grid-area: nav;
}

#navbar {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

#navbar a {
    float: right;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 0;
    padding-right: 1rem;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.856);
    text-decoration: none;
    background-image: var(--gradient);
   /* background-clip: text;*/
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    transition: color .2s linear, font-size .5s ease-in;
}

main a {
    color: rgb(43, 43, 43, 1);
    text-decoration: none;
    font-style: italic;
    background-image: var(--hellergradient);
   /* background-clip: text;*/
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    transition: color .2s linear;
}

main a:hover {
    color: rgba(43, 43, 43, 0);
}

#navbar .sie-sind-hier {
    color: rgb(255, 255, 255);
    /*background-clip: border-box;*/
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
}

@keyframes gradient-transperancy {
    0% {
        color: rgba(255, 255, 255, 0.993);
    }
    100% {
        color: rgba(255, 255, 255, 0);
    }
}

address {
    display: block;
    min-width: 100px;
    background-color: gray;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
    float: right;
    padding: 0.5rem;
}

input#hamburg {
    display: none;
}

#navbar a:hover {
    text-decoration: initial;
   /* position: left;*/
    color: rgba(255, 255, 255, 0);
    /*transition: color .5s ease-in-out;*/
    /* animation: gradient-transperancy .5s ease-in 1 forwards;*/
}

#navbar .sie-sind-hier:hover {
    color: rgb(43, 43, 43);
}

#burgermenue {
    display: none;
    cursor: pointer;
}

.ausklappnav {
    position: relative;
    max-width: 100%;
    background: rgba(43, 43, 43, 0);
    /*height: 0;*/
    max-height: 0;
    color: rgba(255, 255, 255, 0);
    transition: max-height .25s ease-in, color .2s ease-in;
    z-index: -1;
}

.ausklappnav a {
    color: inherit;
    text-decoration: none;
    font-size: 2.5em;
    transition: max-height .3s ease-in-out;
}

#hamburg:checked+.ausklappnav a:active {
    color: rgba(255, 255, 255, 0.61);
}

footer {
    grid-area: footer;
    background-color: black;
}


.link_icon{
    margin-left: 0.4rem;
}

.kontakt_links *{
    margin-top: 0.5rem;
}

article p {
    word-break: break-all;
    word-wrap: break-word;
}


body {
    top: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(medien/bg.png);
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
    position: absolute;
}

.content-grid {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto auto;
    display: grid;
    row-gap: 1em;
    top: 4em;
    width: auto;
    min-width: 1vh;
    margin: 0 auto;
    grid-template-areas: "nav" "header" "body""footer";
    position: relative;
    transition: grid-template-areas .5s ease-in-out ;
}

header {
    width: auto;
    position: relative;
    top: 0;
    margin: 1rem auto;
    background-color: rgb(43, 43, 43);
    padding: 1em;
    height: auto;
    box-shadow: 2px 2px 3px black;
}

h1 {
    display: block;
    font-size: 4rem;
    margin: 1rem;
    background-image: var(--gradient);
    /*background-clip: text;*/
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 500%;
    max-width: 395px;
    animation: gradient-animation 3s ease-in-out infinite alternate;
    transition: font-size .5s ease-in;
}

section {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2em;
    padding: 1em 1em;
    padding-bottom: 2em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.747);
}

.profilbild {
    margin-top: 0.5em;
    display: block;
    position: relative;
    top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

.container p {
    padding-left: 1em;
}

.steckbrief {
    margin: 0px;
    padding: 0;
}

.steckbrief li {
    list-style-type: none;
    padding: 0;
}

.bewertung {
    display: block;
    padding: 2em;
    background-color: rgb(39, 39, 39);
    color: white;
}

.kundenstimme_weniger_margin_cyan {
    margin-top: 0;
    color: var(--meinBlau);
}


blockquote > a{
    color: rgb(219, 0, 0);
}


iframe,
.video_main_big {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vid-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 1em;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#musikbehälter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.audiofeld {
    display: inline-block;
    width: auto;
    margin: 1em;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right
    }
}

input[type=text],
select {
    width: 61%;
    height: 25px;
    transition: all .5s ease-in;
}

select:hover {
    cursor: pointer;
}

textarea {
    width: 70%;
    resize: none;
    transition: all .5s ease-in;
    margin-right: 2em;
    overflow: hidden;
    line-height: 20px;
}

.eingabefeld {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
    outline: none;
    border-width: 1.5px;
    border-color: rgba(255, 255, 255, 0);
    display: inline;
    background: black;
    color: rgb(255, 255, 255);
}

.wachsend {
    display: inline-block;
    width: 62%;
    min-height: 20px;
    max-height: 500px;
    background-color: black;
    color: white;
    overflow: scroll;
    transition: all .5s ease-in;
}

@media screen and (min-width:560px) {
    .content-grid {
        grid-template-columns: 15% auto 15%;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: "nav nav nav" ". header ." ". body ." "footer footer footer";
        column-gap: 1em;
        top: 4em;
    }
    footer {
        grid-row: 3 span;
    }
    h1 {
        font-size: 6rem;
        margin: 0;
    }
    nav {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 0;
    }
    #navbar {
        font-size: 1.5em;
    }
    header {
        min-width: 1vh;
    }
    .eingabefeld+.verstecktesLabel {
        display: inline;
    }
    textarea {
        resize: vertical;
    }
}

@media screen and (max-width:860px) and (min-width:560px) {
    h1 {
        font-size: 4.5rem;
    }
    #navbar {
        font-size: 1.3em;
    }

    .content-grid{
        grid-template-columns: 5% auto 5%;
        
    }
}

@media screen and (max-width:385px) {
    #navbar {
        padding: 0;
        display: none;
    }
    #burgermenue {
        display: block;
        width: 1em;
        margin: 0.5rem auto;
        fill: white;
    }
    #hamburg:checked+.ausklappnav {
        display: block;
        max-height: 400px;
        color: rgba(255, 255, 255, 1);
        height: auto;
    }
    #hamburg:checked+.ausklappnav .sie-sind-hier {
        background-image: var(--gradient);
       /* background-clip: text;*/
        -moz-background-clip: text;
        -webkit-background-clip: text;
        background-size: 200%;
        color: rgba(255, 255, 255, 0);
    }
    input[type=text] {
        width: 100%;
    }
    select {
        width: 101%;
        height: 30px;
    }
    select:hover {
        cursor: pointer;
    }
    .wachsend {
        width: 101%;
        max-height: 300px;
        max-width: 93vw;
        overflow: scroll;
    }
}

.icons {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    display: block;
    margin-bottom: 0.5em;
}

.icons li {
    display: inline;
}

.icons img {
    margin-left: 10px;
    margin-top: 10px;
    filter: invert(100%);
    width: 30px;
    margin: 0;
}

.icons img:hover {
    filter: invert(100%) opacity(80%);
}

.eingabefeld:valid {
    color: white;
}

input[type=text]:hover,
textarea:hover,
select:hover {
    border-color: var(--meinBlau);
    outline: none;
    border-width: 1.5px;
}

.label {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    margin: 0.3em;
    cursor: pointer;
}

.verstecktesLabel {
    display: none;
}

input[type=submit] {
    width: 120px;
    height: auto;
    font-style: inherit;
    background-color: black;
    box-shadow: 3px 3px var(--meinBlau);
    color: white;
    border: none;
}

input[type=submit]:hover {
    box-shadow: 4px 4px rgb(113, 211, 250);
    cursor: pointer;
}

#nachrichtentext {
    margin-bottom: 0;
}

input[type=submit]:active {
    color: var(--meinBlau);
}